<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>crmdev_javascript</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/girumibssa/Documents/workspace/veeva-scripts/mac_build/copy_js.sh</string>
        <string>path modified</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/Users/girumibssa/Documents/workspace/crmdev/webapp/src/main/webapp/js</string>
    </array>
</dict>
</plist>